@import "theme/variables";
@import "dropzone/dropzone";
/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */

.dropzone {
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  border: 2px dashed $primary-color;
  border-radius: 15px;
  -webkit-border-image: none;
  -o-border-image: none;
  border-image: none;
  background:  #17202a0a;
  box-sizing: border-box;
  min-height: 150px;
  * {
    box-sizing: border-box;
  }
  i {
    font-size: 50px;
    color: $primary-color;
  }
  position: relative;
  .dz-message {
    text-align: center;
    margin: 25px 0;
  }
  .dz-preview {
    position: relative;
    display: inline-block;
    margin: 0.5em;
    padding: 0;
    border:none;
    background-color: #eeeeee;
    width:120px;
    height: 120px;
    box-shadow: 0px 0px 3px  #17202a;
    .dz-progress {
      display: block;
      height: 10px;
      border: 1px solid $success-color;
      left:12px;
      right:12px;
      .dz-upload {
        display: block;
        height: 100%;
        width: 0;
        background: $success-color;
      }
    }
    .dz-error-message {
      color: red;
      display: none;
      top:131px;
      left:-12px;
      pointer-events: none;
      &:after{
        content: '';
        position: absolute;
        top: -6px;
        left: 64px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #be2626;
      }
    }
    &.dz-error {
      .dz-error-message, .dz-error-mark {
        display: block;
      }
    }
    &.dz-success .dz-success-mark {
      display: block;
    }
    .dz-error-mark, .dz-success-mark {
      position: absolute;
      display: none;
      left: 30px;
      top: 30px;
      width: 54px;
      height: 58px;
      left: 50%;
      margin-left: -27px;
    }
  }
}
